{% extends 'base.html' %}
{% block body %}


<div class="grid-container display: grid;">
    <div class="grid-item">
        <img src="{{bg_img}}" alt="about-img">
    </div>
    <div class="grid-item">
        <p class="fw-semibold">An image conversion website which offers users the ability to effortlessly change image
            file types to PNG, JPG, and WebP formats, as well as convert images to grayscale
            The site supports a wide range of image formats for input, ensuring compatibility with most image files.
            Whether for professional use, personal projects, or social media, this tool provides a convenient solution
            for all image conversion needs.
        </p>
    </div>
</div>

{% endblock body %}